@font-face {
  font-family: 'Breezy-Beach-Regular-Alternates';
  src: url('/Breezy-Beach-Regular-Alternates.woff') format('woff'),
    url('/Breezy-Beach-Regular-Alternates.ttf') format('ttf'),
    url('/Breezy-Beach-Regular-Alternates.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'American-Typewriter-Regular';
  src: url('/American Typewriter Regular.ttf') format('ttf'),
    url('/American Typewriter Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Lato&family=Oswald&family=Raleway:wght@300;400;500&display=swap');

/* ----------------- FONT FAMILIES
font-family: 'Inconsolata', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: ; */
  background-color: white;
  font-family: 'American-Typewriter-Regular', 'Courier New', monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  width: 100%;
  /* background-color: black; */
  background: repeating-linear-gradient(
    0deg,
    #54545c,
    #54545c 15px,
    #ffffff 10px,
    #ffffff 20px
  );
  padding-top: 10pt;
  padding-bottom: 1rem;

  color: white;
  min-height: 60vh;

  /* display: flex;
    align-items: flex-end; */
  /* background-image: url('assets/memphis-mini-dark.png'); */
}
h1 {
  color: #ba0306;
  background-color: rgba(171, 170, 172, 0.7);
  padding: 1.7rem;
  max-width: 50vw;
  margin-top: 10vh;

  font-family: 'Breezy-Beach-Regular-Alternates';
  font-size: 4rem;
  font-style: italic;
  text-transform: uppercase;

  border: 5px solid rgba(23, 21, 21, 0.8);
  border-bottom: 7px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(33, 31, 32, 0.5);
  text-align: center;
}

h2 {
  color: #1b1b1b;
  background-color: rgba(171, 170, 172, 0.7);

  width: 40%;
  letter-spacing: -1px;

  font-family: monospace;
  padding: 5pt;
  font-size: 1.5rem;
  margin-top: 2rem;

  border: 2px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(33, 31, 32, 0.5);
  text-align: center;
}

h3 {
  color: #1b1b1b;
  background-color: rgba(187, 55, 75, 0.7);

  /* width: 70%; */
  letter-spacing: -1px;

  font-family: monospace;
  padding: 5pt;
  font-size: 1.2rem;
  margin-top: 2rem;

  border: 2px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(33, 31, 32, 0.5);
  text-align: center;
}
p {
  padding: 5pt;
}

img {
  width: 200px;
}

.signup {
  background: repeating-linear-gradient(
    0deg,
    #a7a7b0,
    #a7a7b0 15px,
    #ffffff 10px,
    #ffffff 20px
  );
}
.detective {
  width: 200px;
}
.left {
  transform: rotateY(180deg);
}

.line {
  font-size: 3rem;
}
.home {
  font-size: 2rem;
  transition: all 0.3s;
}

.home:hover {
  transform: translateY(-3%);
}

label,
fieldset {
  /* font-family: 'The-Outbox-St'; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 150pt;
}
fieldset label {
  flex-direction: row;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  margin-top: 3rem;
}

.banner {
  width: 40%;
  font-family: 'Nunito';
  font-size: 2rem;
  background-color: #d72323;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
  padding: 2px;
  color: #51050f;
  text-align: center;

  border: 2px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(224, 36, 1, 0.5);

  transition: all 0.3s;
}

.banner:hover {
  transform: translateY(-3%);
  box-shadow: 5px 5px 5px rgba(237, 46, 13, 0.5);
}

.box {
  margin-top: 20pt;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 3pt solid black; */
  max-width: 80%;
  background-color: white;

  font-family: 'Nunito', sans-serif;

  border: 2px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(224, 36, 1, 0.5);
}
.box * + * {
  margin-top: 1rem;
}

.delete {
  align-self: flex-end;
}

form {
  color: black;
}

label {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: -0.2rem;
}

input {
  outline: none;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: 2px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(66, 79, 107, 0.5);
}

input:hover,
input:focus {
  outline: #d72323;
}

button {
  /* width: 30%; */
  font-family: 'American-Typewriter-Regular', 'Courier New', monospace;
  font-size: 1.5rem;
  background-color: rgba(66, 79, 107, 0.6);

  margin-top: 1.2rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  padding: 2px;

  color: black;
  text-align: center;

  border: 2px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(66, 79, 107, 0.5);

  transition: all 0.3s;
}

button:hover {
  transform: translateY(-3%);
  box-shadow: 5px 5px 5px rgba(66, 79, 107, 0.5);
  cursor: pointer;
}

/* ----------------------- return HOME ----------------------- */

.return {
  font-size: 1rem;
  text-align: center;

  padding: 0.5rem;
  margin-top: 3rem;

  border: 1px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(134, 38, 193, 0.7);

  transition: all 0.3s;
}

.return:hover {
  transform: translateY(-3%);
  box-shadow: 5px 5px 5px rgba(66, 79, 107, 0.5);
  cursor: pointer;
}

.add-file {
  background-color: rgba(134, 38, 193, 0.9);
  font-size: 2rem;
  text-align: center;

  /* width: 30%; */
  padding: 1rem;
  margin-top: 3rem;

  border: 1px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(134, 38, 193, 0.7);

  transition: all 0.3s;
}

.add-file:hover {
  transform: translateY(-3%);
  box-shadow: 5px 5px 5px 2px rgba(125, 53, 226, 0.5);
  cursor: pointer;
}

/* ----------------------------------------------------------------- PRIMITIVES ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */

/* ------------------------------------------------ CENTER / WIDTH  */
.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.width-ssm {
  max-width: 15rem;
}

.width-sm {
  max-width: 20rem;
}

.width-smd {
  max-width: 25rem;
}

.width-md {
  max-width: 50rem;
}

.width-lg {
  max-width: 60rem;
}

.width-xl {
  max-width: 100rem;
}

/* ------------------------------------------------ MARGIN STACKS  */
.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

/* ------------------------------------------------ HORIZONTAL ALIGNEMENT  */
.row {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
  align-items: center;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.justify-space-between {
  justify-content: space-between;
}

/* ------------------------------------------------ GRID  */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.7rem;
  /* grid-template-columns: repeat(3, 1fr); */
}

.column-lg {
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
