@font-face {
  font-family: 'Breezy-Beach-Regular-Alternates';
  src: url('/Breezy-Beach-Regular-Alternates.woff') format('woff'),
    url('/Breezy-Beach-Regular-Alternates.ttf') format('ttf'),
    url('/Breezy-Beach-Regular-Alternates.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'American-Typewriter-Regular';
  src: url('/American Typewriter Regular.ttf') format('ttf'),
    url('/American Typewriter Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: ; */
  background-color: white;
  font-family: 'American-Typewriter-Regular', 'Courier New', monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  width: 100%;
  /* background-color: black; */
  background: repeating-linear-gradient(
    0deg,
    #3e3636,
    #3e3636 15px,
    #ffffff 10px,
    #ffffff 20px
  );
  padding-top: 10pt;
  padding-bottom: 1rem;

  color: white;
  min-height: 60vh;

  /* display: flex;
    align-items: flex-end; */
  /* background-image: url('assets/memphis-mini-dark.png'); */
}
h1 {
  color: #a11800;
  background-color: rgb(244, 244, 244);
  padding: 2rem;
  max-width: 40vw;
  margin-top: 10vh;
  font-family: 'Breezy-Beach-Regular-Alternates';
  font-size: 4.3rem;
  font-style: italic;
  text-transform: uppercase;
  border: 4px solid rgba(23, 21, 21, 0.8);
  border-bottom: 6px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(33, 31, 32, 0.5);
  text-align: center;
}

h2 {
  background-color: #ffffff;
  color: #000000;
  letter-spacing: -1px;
  /* font-weight: lighter; */
  font-family: monospace;
  padding: 5pt;
  font-size: 1.5rem;
}
p {
  padding: 5pt;
}

label,
fieldset {
  /* font-family: 'The-Outbox-St'; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 150pt;
}
fieldset label {
  flex-direction: row;
  justify-content: space-between;
}
ul {
  list-style-type: none;
}

img {
  max-width: 250px;
  padding: 10pt;
}

.banner {
  width: 40%;
  font-family: 'Nunito';
  font-size: 2rem;
  background-color: #d72323;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
  padding: 2px;
  color: #51050f;
  text-align: center;

  border: 2px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(224, 36, 1, 0.5);

  transition: all 0.3s;
}

.banner:hover {
  transform: translateY(-3%);
  box-shadow: 5px 5px 5px rgba(237, 46, 13, 0.5);
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.box {
  margin-top: 20pt;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 3pt solid black; */
  max-width: 80%;
  background-color: white;

  font-family: 'Nunito', sans-serif;

  border: 2px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(224, 36, 1, 0.5);
}
.box * + * {
  margin-top: 1rem;
}

.delete {
  align-self: flex-end;
}

.row {
  display: flex;

  gap: 1rem;
  align-items: baseline;
  /* justify-content: flex-start; */
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  color: white;
  background-color: #e02401;
}

form {
  color: black;
}

label {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: -0.2rem;
}

input {
  outline: none;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: 2px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(247, 136, 18, 0.5);
}

input:hover,
input:focus {
  outline: #d72323;
}

button {
  width: 30%;
  font-family: 'Nunito';
  font-size: 1.5rem;
  background-color: #d72323;
  /* height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

  margin-top: 1.2rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  padding: 2px;

  color: #51050f;
  text-align: center;

  border: 2px solid rgba(23, 21, 21, 0.8);
  border-bottom: 3px solid rgba(23, 21, 21, 0.8);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(224, 36, 1, 0.5);

  transition: all 0.3s;
}

button:hover {
  transform: translateY(-3%);
  box-shadow: 5px 5px 5px rgba(237, 46, 13, 0.5);
  cursor: pointer;
}
